@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bold";   /*Can be any text*/
  src: local("CalSans"),
    url("./fonts/CalSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";   /*Can be any text*/
  src: local("Matter"),
    url("./fonts/Matter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";   /*Can be any text*/
  src: local("Matter"),
    url("./fonts/Matter-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.medium-font{
  font-family: "Medium";
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark {
  @apply bg-gray-950 text-zinc-50
}

.light {
  @apply bg-white text-gray-950
}